<%= render :partial => 'locate' %>

<p>
	<form action='showmap' method='POST'>
		Hello!<br/><br/>
		Please Enter your neighbourhood: <br/>
		<input type='text' name='address' id ='address' ><br/>
		<input type='submit' name='Go!'>
	</form>
</p>
