
<!--
<%= render :partial => 'locate' %>

<div id='lists'>
****TODO tab of Lists of the items****
</div>
-->

<div id="map_canvas" style="width:100%; height:100%"></div>

<script>
init_map("map_canvas", -25.363882, 131.044922);
</script>