<%= render :partial => 'locate' %>


<div id='lists'>
****TODO tab of Lists of the items****
</div> <!-- lists -->

<div id="map_canvas" style="width:100%; height:100%"></div>

<script>
initialize()
</script>
