
<!--
<%= render :partial => 'locate' %>

<div id='lists'>
</div> 

<div id="header" style="width:100%; height:10%; background-color:blue"> 
our wonderful header 
</div>

<div id ="tweet_box"  style="width:20%; height:90%; background-color:red; float:left" ></div>

<div id="map_canvas" style="width:80%; height:90%"></div>

<script>
lat = 51.5; //@lat
lng = 0.1; //@lng
initialize();
</script>
