<!DOCTYPE html>
<html>
<head>
  <title>Geonews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDGdtL_VrP1nETaHipA2FdeDtu_OPI7V4c&sensor=false"></script>
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
    </style>
    <script type="text/javascript">
      
      function resizeMap() {
        if (document.getElementById('map_canvas') != null) {
          var w = document.documentElement.clientWidth;
          var h = document.documentElement.clientHeight;

          if (document.getElementById('header') != null && document.getElementById('main_sidebar') != null) {
            var sideWidth = document.getElementById('main_sidebar').clientWidth ;
            var headerHeight = document.getElementById('header').clientHeight ;
            
            document.getElementById('main_sidebar').style.height = (h - headerHeight) + 'px';
            document.getElementById('map_canvas').style.width =  (w - sideWidth) + 'px';
            document.getElementById('map_canvas').style.height =  (h - headerHeight) + 'px';            
          }
        }
      };

      function locateMe() {
        navigator.geolocation.getCurrentPosition(GetLocation);
      }
    
    function GetLocation(location) {
        lat = location.coords.latitude;
        lng = location.coords.longitude;
        initialize();
    }

    </script>

</head>
<body>

<%= yield %>

</body>
</html>
