<!DOCTYPE html>
<html>
<head>
  <title>Geonews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDGdtL_VrP1nETaHipA2FdeDtu_OPI7V4c&sensor=false">
    </script>
    <script type="text/javascript">
      var lat = ''
      var lng = ''

      function initialize() {
        if (lat != '' && lng != '') {
          var myOptions = {
            center: new google.maps.LatLng(lat, lng),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
          };
          var map = new google.maps.Map(document.getElementById("map_canvas"),
              myOptions);
        }
      }
        
        navigator.geolocation.getCurrentPosition(GetLocation);
    
    function GetLocation(location) {
        lat = location.coords.latitude;
        lng = location.coords.longitude;
        initialize();
    }

    </script>

</head>
<body>

<%= yield %>

</body>
</html>
